// Theme settings.
/*******************
Fixed -sidebar
******************/

.fixed-sidebar {
    .left-sidebar {
        position: fixed;
    }   
}

@media(max-width:767px) {
    .fixed-sidebar.mini-sidebar {
        .navbar-header {
            position: relative;
        }
        .navbar-collapse {
            margin-left: 0px;
        }
    }
}

/*******************
Fixed -Header
******************/

.fixed-header {
    .topbar {
        position: fixed;
        width: 100%;
    }
    .page-wrapper {
        padding-top: 67px;
    }
}

/*******************
Mini sidebar
******************/

@media(min-width:769px) {
    .left-sidebar:hover {
        left: 0px;
        .upgrade-btn {
            display: block;
        }
    }
    .navbar-header {
        margin-left: 60px;
        flex-shrink: 0;
        .navbar-brand {
            padding-top: 0px;
        }
    }
    .lock-nav {
        .left-sidebar {
            left: 0px;
            width: 220px;
            .upgrade-btn {
                display: block;
            }
        }
        .page-wrapper,
        .footer {
            margin-left: 220px;
        }
        .topbar {
            padding-left: 220px;
            .navbar-header {
                margin-left: 0px;
            }
        }
        &.single-column {
            .topbar {
                padding-left: 0px;
            }
        }
    }
}

@media(max-width:768px) {
    .show-sidebar {
        .left-sidebar {
            left: 0px;
        }
    }
    .left-sidebar {
        left: -260px;
    }
}